html, body {
  font-family: 'Rubik', 'Open Sans', sans-serif !important;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.3em;
}

h2 small {
  font-size: 1.2em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.1em;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-weight: 400 !important;
  color: #000;
}

p {
  font-weight: 400 !important;
  font-size: 1em;
  line-height: 1.667em;
  color: #333;
}

a {
  color: #03a9f4;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.color-primary {
  color: #03a9f4 !important;
}

