/**
 * Override default classes begin here
 **/

a {
  cursor: pointer;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 22px;
}

.navbar-inverse {
  background-color: #03a9f4;
  border-color: #03a9f9;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #fff;
  background-color: #0298db;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #0298db;
}

.navbar-inverse .navbar-nav>.accent-btn>a,
.navbar-inverse .navbar-nav>.accent-btn>a:hover,
.navbar-inverse .navbar-nav>.accent-btn>a:focus {
  color: #fff;
  background-color: #ff5252;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.article {
  font-size: 18px;
}

/**
.well h1,
.well h2,
.well h3,
.well h4,
.well h5,
.well h6,
.well h7 {
  color: #ff5252;
}
*/

.well h1 {
  font-size: 1.8em;
  font-weight: 400;
}

.well h1 a {
  color: #1a1a1a;
}

.footer p {
  margin: 5px 0 5px !important;
}

.sidebar.well {
  font-size: 1.03em;
}

.copyright {
  color: #1a1a1a;
}


/**
 * Custom classes begin here
 **/

.sub-line {
  position: fixed;
  text-align: center;
  padding: 8px 15px;
  border-top: 1px solid #e8e8e8;
  font-size: 13px;
  background-color: #f1f1f1;
  z-index: 1000;
  left: 0;
  right: 0;
  bottom: 0;
  height: 46px;
  color: #1a1a1a;
}

.ghost-btn {
  font-family: "Arial";
  display: inline-block;
  text-decoration: none;
  border: 1px solid #03a9f4;
  height: 30px;
  line-height: 30px;
  color: #03a9f4;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  font-size: 1em;
  padding: .5em 1.5em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: #fff;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  zoom: 1;
  position: relative;
}


.btn {
  padding: 6px 14px;
  font-size: 12px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #ff5252;
  color: #fff;
  transition: background-color .3s;
}

.btn:hover,
.btn:focus {
  background-color: #e54949;
  color: #fff;
}

.btn>* {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn.red {
  background-color: #ff5252;
  color: #fff;
}

.btn.red:hover,
.btn.red:focus {
  background-color: #e54949;
  color: #fff;
}

.main-area {
  /* margin: 44px 0 0 0; */
  line-height: 2.3em;
  letter-spacing: 0.03em;
}

.center-table {
  margin: 0 auto !important;
  float: none !important;
}


/* Shadows */

.shadow-top {
  box-shadow: 0 -10px 20px -10px rgba(115, 115, 115, 0.75);
}

.shadow-right {
  box-shadow: 10px 0 20px -5px rgba(115, 115, 115, 0.75);
}

.shadow-bottom {
  box-shadow: 0 10px 20px -5px rgba(115, 115, 115, 0.75);
}

.shadow-left {
  box-shadow: -10px 0 20px -5px rgba(115, 115, 115, 0.75);
}

.shadow-all {
  box-shadow: 0 0 20px rgba(115, 115, 115, 0.75);
}

.shadow-top-right {
  box-shadow: 0 -10px 20px -5px rgba(115, 115, 115, 0.75), 10px 0 20px -5px rgba(115, 115, 115, 0.75);
}

.shadow-top-bottom {
  box-shadow: 0 -10px 20px -5px rgba(115, 115, 115, 0.75), 0 10px 20px -5px rgba(115, 115, 115, 0.75);
}

.shadow-top-left {
  box-shadow: 0 -10px 20px -5px rgba(115, 115, 115, 0.75), -10px 0 20px -5px rgba(115, 115, 115, 0.75);
}

.shadow-bottom-right {
  box-shadow: 0 10px 20px -5px rgba(115, 115, 115, 0.75), 10px 0 20px -5px rgba(115, 115, 115, 0.75);
}

.shadow-left-right {
  box-shadow: -10px 0 20px -5px rgba(115, 115, 115, 0.75), 10px 0 20px -5px rgba(115, 115, 115, 0.75);
}

.shadow-bottom-left {
  box-shadow: 0 10px 20px -5px rgba(115, 115, 115, 0.75), -10px 0 20px -5px rgba(115, 115, 115, 0.75);
}

.shadow-top-bottom-right {
  box-shadow: 0 -10px 20px -5px rgba(115, 115, 115, 0.75), 0 10px 20px -5px rgba(115, 115, 115, 0.75), 10px 0 20px -5px rgba(115, 115, 115, 0.75);
}

.shadow-top-bottom-left {
  box-shadow: 0 -10px 20px -5px rgba(115, 115, 115, 0.75), 0 10px 20px -5px rgba(115, 115, 115, 0.75), -10px 0 20px -5px rgba(115, 115, 115, 0.75);
}

.shadow-inset {
  box-shadow: inset 0 0 20px rgba(115, 115, 115, 0.75);
}

@media all and (max-width: 479px) {
  .sub-line .copyright {
    display: none;
  }
}
