<div class="container-fluid">
  <div class="row-fluid">
    <div class="sub-line shadow-top">
      <table border="0" cellspacing="0" cellpadding="0" class="center-table">
        <tr>
          <td valign="middle">
            <span class="copyright">
            &copy;{{ site.time | date: '%Y' }} {{ site.name }}.
            <!-- &nbsp;&nbsp;</span>Do you want to see your &quot;Tally ERP 9&quot; data on your phone? -->
          </td>
          <!-- <td>&nbsp;&nbsp;&nbsp;</td>
          <td valign="middle">
            <a href="https://bizanalyst.in/#setup" target="_blank" class="btn red">GET STARTED</a>
          </td> -->
        </tr>
      </table>
    </div>
  </div>
</div>
{% include disqus-counts.html %} {% include analytics.html %}
</body>

</html>