<div class="container-fluid">
  <div class="row-fluid">
    <div class="sub-line shadow-top">
      <table border="0" cellspacing="0" cellpadding="0" class="center-table">
        <tr>
          <td valign="middle">
            <span class="copyright">
              &copy;{{ site.time | date: '%Y' }}
              <a href="{{homesiteurl}}">{{ site.name }}</a>.
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% include disqus-counts.html %} {% include analytics.html %}
</body>

</html>