<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Open Graph -->
  <meta property="fb:app_id" content="1855967954619844" />
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.metaTitle %}{{ page.metaTitle }}{% else %}{{ site.name }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:locale" content="en_IN" />
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:image" content="{% if page.imagefeature %}{{ page.imagefeature }}{% else %}{{ site.url }}/images/logo-white-30x30.png{% endif %}">

  <!-- Google structured data -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Blog",
      "name": "{{ site.name }}",
      "image": "{{ site.url }}/images/logo-white-30x30.png",
      "description": "{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
    }
  </script>

  <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet" type="text/css">
  <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" type="text/css">
  <link href="{{ site.baseurl }}/css/custom.css" rel="stylesheet" type="text/css"> {% include isso-comments.html %}
</head>

<body>

  <div class="container-fluid">
    <div class="row-fluid">
      <nav class="website-nav">
        <div class="navbar-header" id="page-top">
          <a class="website-brand" id="brand" href="https://bizanalyst.in" target="_blank">
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <img src="{{site.baseurl}}/images/logo-30x30.png" width="25" height="25" />
                </td>
                <td valign="middle">
                  &nbsp; Biz Analyst
                </td>
              </tr>
            </table>
          </a>
          <button type="button" class="navbar-toggle custom-navbar-toggle" data-toggle="collapse" data-target="#website-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar theme-background"></span>
            <span class="icon-bar theme-background"></span>
            <span class="icon-bar theme-background"></span>
          </button>

          <div class="try-btn-container">
            <a href="https://bizanalyst.in/try-it-free.html" target="_blank" class="try-btn red">Try It Free</a>
          </div>
        </div>

        <div class="navbar-collapse collapse custom-navbar-collapse navbar-right navbar-margin" id="website-nav-collapse">
          <ul class="nav navbar-nav web-nav">
            <li><a href="https://bizanalyst.in/#aboutus" target="_blank">About us</a></li>
            <li><a href="https://bizanalyst.in/#features" target="_blank">Features</a></li>
            <li><a href="https://bizanalyst.in/#screenshots" target="_blank">Screenshots</a></li>
            <!-- <li><a href="index.html#setup" style="color:#555;">How to setup</a></li> -->
            <li><a href="https://bizanalyst.in/#contact" target="_blank">Contact</a></li>
            <li><a href="https://bizanalyst.in/faqs.html" target="_blank">Faqs</a></li>
          </ul>
        </div>
      </nav>

      <div class="navbar navbar-inverse navbar-fixed-top top-35" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle custom-inverse-navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <!-- <td>
                  <img src="{{site.baseurl}}/images/logo-white-30x30.png" width="30" height="30" />
                </td> -->
                <td valign="middle">
                  &nbsp; Blog
                </td>
              </tr>
            </table>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class=""><a href="{{ site.baseurl }}/">Home</a></li>
            <li class=""><a href="{{ site.baseurl }}/archive.html">Archive</a></li>
          </ul>
        </div>
      </div>
      <!-- <li class="active visible-xs-block"><a href="{{ site.baseurl }}/links.html">Links</a></li> -->
    </div>
  </div>